@page "/"
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@using ReflectionAttributeDemo.Models
@using ReflectionAttributeDemo.Utilities

<PageTitle>Rewards</PageTitle>

<h1>Rewards</h1>

<p>Reward.Name Minimum String Length: @minimumStringLength</p>
<p>Reward.Name Maximum String Length: @maximumStringLength</p>

@code {
    private int maximumStringLength = 0;
    private int minimumStringLength = 0;

    protected override void OnInitialized()
    {
        // Use the AttributeUtility to get the StringLengthAttribute on the Reward.Name property
        //var stringLengthAttribute = (StringLengthAttribute?)AttributeHelper.GetAttribute<Reward, StringLengthAttribute>("Name");
        var stringLengthAttribute = (StringLengthAttribute?)AttributeUtility.GetAttribute<Reward, StringLengthAttribute>(f => f.Name);

        if (stringLengthAttribute != null)
        {
            minimumStringLength = stringLengthAttribute.MinimumLength;
            maximumStringLength = stringLengthAttribute.MaximumLength;
        }
    }
}
